
proyectoBoletas.vpp.bak_000f
.proyectoBoletas.vpp.lck
proyectoBoletas.vpp.bak_001d
proyectoBoletas.vpp.bak_002d
proyectoBoletas.vpp.bak_003d
proyectoBoletas.vpp.bak_004d
/target/
proyectoBoletas.vpp.bak_001f
proyectoBoletas.vpp.bak_000d
proyectoBoletas.vpp.bak_007d
proyectoBoletas.vpp.bak_005d
proyectoBoletas.vpp.bak_006d
proyectoBoletas.vpp.bak_009d
proyectoBoletas.vpp.bak_008d
proyectoBoletas.vpp.bak_010d
proyectoBoletas.vpp.bak_011d
proyectoBoletas.vpp.bak_012d
proyectoBoletas.vpp.bak_013d

/nbproject/
.idea/uiDesigner.xml
*.bak_014d
*.bak_015d
*.bak_017d
